{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "typings",
    "src/**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true
}